<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>huynhntp.filter.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletListener</description>
        <listener-class>huynhntp.util.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>huynhntp.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>huynhntp.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuizController</servlet-name>
        <servlet-class>huynhntp.controller.StartQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextQuestionController</servlet-name>
        <servlet-class>huynhntp.controller.NextQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkController</servlet-name>
        <servlet-class>huynhntp.controller.MarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>huynhntp.controller.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>huynhntp.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>huynhntp.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoCreateController</servlet-name>
        <servlet-class>huynhntp.controller.GotoCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>huynhntp.controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>huynhntp.controller.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>huynhntp.controller.EditQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>huynhntp.controller.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>huynhntp.controller.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuizController</servlet-name>
        <url-pattern>/StartQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextQuestionController</servlet-name>
        <url-pattern>/NextQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkController</servlet-name>
        <url-pattern>/MarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoCreateController</servlet-name>
        <url-pattern>/GotoCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/ViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/EditQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/DeleteQuestionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>SE140798</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>huynhntp.util.ContextListener</listener-class>
    </listener>
</web-app>
